<div>
    <h1>Timers</h1>
    <app-tabs>
        <app-tab title="Timers"></app-tab>
        <app-tab title="Crono"></app-tab>
        <app-tab title="Alarm"></app-tab>
    </app-tabs>
    <app-timer *ngFor="let timer of timers" [init]="timer" (onComplete)="showEndTimerAlert()"></app-timer>
    <button class="add" (click)="showAddTimer()">+</button>
    <app-alert-view [hidden]="!isAddTimerVisible">
        <div header>Add new timer</div>
        <label>Set the number of seconds for your timer </label>
        <input type="number" [(ngModel)]="time">
        <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
        <button (click)="submitAddTimer()">Ok</button>
    </app-alert-view>
    <app-alert-view [hidden]="!isEndTimerAlertVisible">
        <div header>Timer ended</div>
        <label>Your countdown has finished</label>
        <button (click)="hideEndTimerAlert()">Ok</button>
    </app-alert-view>
</div>