<div>
    <h1>Timers</h1>
    <app-timer [init]="30" (onComplete)="logCountdownEnd()"></app-timer>
    <app-timer [init]="15" (onComplete)="logCountdownEnd()"></app-timer>
    <app-timer [init]="5" (onComplete)="logCountdownEnd()"></app-timer>
    <button class="add" (click)="showAddTimer()">+</button>
    <app-alert-view [hidden]="!isAddTimerVisible" (onCancel)="hideAddTimer()" (onSubmit)="hideAddTimer()">
        <label>Set the number of seconds for your timer </label>
        <input type="number" [(ngModel)]="time">
    </app-alert-view>
</div>